.idea/*
*.iml
out/*

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore puzzle input, as suggested by the puzzle creator
src/main/resources/input
